{{#partial "content"}}
    <h5>First Name:</h5>
    <p>{{foundEntry.firstName}}</p>
    <h5>Last Name:</h5>
    <p>{{foundEntry.lastName}}</p>
    <h5>Street:</h5>
    <p>{{foundAddress.street}}</p>
    <h5>City:</h5>
    <p>{{foundAddress.city}}</p>
    <h5>State:</h5>
    <p>{{foundAddress.state}}</p>
    <h5>Country:</h5>
    <p>{{foundAddress.country}}</p>
    <h5>Zip:</h5>
    <p>{{foundAddress.zip}}</p>
    <h5>Number:</h5>
    <p>{{foundEntry.phone}}</p>

        <a href="/addressBook/{{foundEntry.id}}/edit">Edit this post</a><br>
        <a href="/addressBook/{{foundEntry.id}}/delete">DELETE this post (no undo)</a>
    </p>
{{/partial}}

{{> layout.hbs}}